<h1 class="title">Administradores</h1>

  <div class="data">
      <div id="container-table">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dni</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fecha de nacimiento</th>
                <th>Acciones</th>
            </tr>
       </thead>
        <tbody>
            <tr *ngFor="let administrator of administrators">
                <td>{{ administrator.name }}</td>
                <td>{{ administrator.lastName }}</td>
                <td>{{ administrator.dni }}</td>
                <td>{{ administrator.address }}</td>
                <td>{{ administrator.telefone }}</td>
                <td>{{ administrator.birthDate | date: "dd:MMM:yyyy" }}</td>
                <td class="center">
                    <i (click)="deleteAdmin(administrator.dni + '')" alt="Eliminar administrator" class="fa-solid fa-trash-can"></i>
                </td>
            </tr>
            </tbody>
        </table>
       </div>
</div>