<div id="transition-login"></div>

<div id="page-container">
  <div id="container">
    <!-- Formulario de login -->

    <form #login="ngForm" (ngSubmit)="submit()" autocomplete="on">
      <p id="title">Iniciar sesión</p>
      <div id="box-login">
        <div class="inputBox">
            <input
            class="text"
            pattern="[0-9]{8}[A-Za-z]{1}"
            [(ngModel)]="model.dni"
            name="dni"
            id="dni"
            placeholder="Usuario"
            type="text"
            required
            #dni="ngModel"
          />
          <img class="icon-input" src="assets/img/user-icon.png" alt="Usuario" title="Usuario">
          <img
            *ngIf="dni.invalid && dni.touched"
            class="err"
            title="Indique un dni con formato 8 números y una letra"
            src="assets/img/err.png"
          />
        </div>
        <div class="inputBox">
            <input
            class="text"
            [(ngModel)]="model.password"
            name="password"
            id="contraseña"
            placeholder="Contraseña"
            type="password"
            required
            #password="ngModel"
          />
          <img class="icon-input" src="assets/img/password-icon.png" alt="Contraseña" title="Contraseña-">
          <img
            *ngIf="password.invalid && password.touched"
            class="err"
            title="La contraseña debe de tener mínimo 8 carácteres"
            src="assets/img/err.png"
          />
        </div>
      </div>
      <input
        [disabled]="login.invalid"
        id="submit"
        type="submit"
        value="Iniciar sesión"
      />
    </form>
  </div>

  <div id="login-functions">
    <div id="actions">
        <div (click)="back()">
            <img src="assets/img/back.png" alt="Atrás" title="Atrás">
        </div>
        <div (click)="restorePassword()" id="password-restore" [ngClass]="{'disabled': dni.invalid}">
          <img src="assets/img/restart-password.png" [attr.alt]="dni.invalid ? 'Inserte su dni para recuperar contraseña': 'Recuperar contraseña'" [attr.title]="dni.invalid ? 'Inserte su dni para recuperar contraseña': 'Recuperar contraseña'" >
        </div>
        <div id="keyboard" (click)="this.keyboardService.showKeyboard(true)">
          <img  src="assets/img/keyboard.png" alt="Teclado en pantalla">
        </div>
        <div >
            <img src="assets/img/google.png" alt="Iniciar con Google" title="Iniciar con Google">
        </div>
    </div>
  </div>
</div>