#flex {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	height: 55vh;
	width: 100%;
}

img {
	width: 25em;
}

form {
	border-top: 3px solid orange;
	border-radius: 7px;
	color: white;
	background-color: rgba(0, 0, 0, 0.501);
	backdrop-filter: blur(7px);
	width: 30%;
	text-align: center;
	min-height: 20em;
}

#form-title {
	text-align: left !important;
	font-variant: small-caps;
	font-size: 1.5em;
	margin: 1em;
}

div input {
	width: 70%;
	padding: 7px 10px;
	margin-bottom: 2px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid orange;
	color: white;
}

input::placeholder {
	color: white;
}

#add {
	margin-top: 5em;
}

div > p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}