<div id="container">
    <h1 class="title">Nuevo centro</h1>

    <div id="flex">
        <img src="assets/img/school.png">
        <form [formGroup]="form" (submit)="send()" id="msform">
         
            <!-- Nombre -->
    
            <p id="form-title">Datos del centro</p>
        
            <div>
                <input placeholder="Nombre" type="text" id="name" formControlName="name">
                <p *ngIf="form.controls['name'].invalid && form.controls['name'].touched">Indique el nombre del centro</p>
            </div>
        
            <!-- Direccion -->
        
            <div>
                <input placeholder="Dirección" type="text" id="address" formControlName="address">
                <p *ngIf="form.controls['address'].invalid && form.controls['address'].touched">Indique la dirección del centro</p>
            </div>
        
            <!-- Contraseña -->
        
            <div>
                <input placeholder="Contraseña" type="password" id="password" formControlName="password">
                <p *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Indique una contraseña con un mínimo de 8 carácteres</p>
            </div>
        
            <!-- Envío -->
        
            <input id="add" type="submit" value="Crear" [disabled]="form.invalid">
    
        </form>
    
    
    </div>

</div>

        <!-- Foto
    
        <div>
            <label for="photo">Imagen</label>
            <input type="file" id="photo" formControlName="photo" (change)="">
        </div>
    
         -->