#mainDiv {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#title > p {
    padding-left: 4%;
}

#title > p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}

#title > p:nth-child(2) {
    opacity: 0.7;
}

.degreesText {
    opacity: 0.7;
}


#businessTitle {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 4%;
}


#centerZoneView {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

#businessZone {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.businessOption {
    width: 144px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.businessOption > p {
    margin-top: 10px;
}

#addOptionBusiness {
    box-shadow: 0px 5px 5px #e0e0e0;
    background-color: #eeeeee;
}


.imageOption {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}


#title {
    margin-top: 40px !important;
}


#addImage {
    width: 40px;
}

.idDeleteBusiness {
    width: 20px;
    position: relative;
    top: 10px;
}

#canDeleteBusiness {
    width: 20px;
    position: absolute;
    right: 4%;
    top: 55px;
}



@keyframes miedo {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(1deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}


.animatedTx {
    animation-name: miedo;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}


#modal-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.446);
    justify-content: center;
    align-items: center;
    top: 0;
}


#modal-zone > * {
    transition: 1s;
    animation-name: introSlow;
    animation-duration: 0.2s;
}


.selectModal {
    width: 90%;
    background-color: #f2f2f2;
    height: 500px;
    box-shadow: 0px 5px 5px grey;
    max-width: 400px;
}