<h1 class="title">Nueva persona</h1>

<div id="container">
    <img src="assets/img/person.png">
    <form [formGroup]="form" (submit)="send()">
        <p id="form-title">Datos de la persona</p>
        <!-- Nombre -->
    
        <div>
            <input placeholder="Nombre" type="text" id="name" formControlName="name">
            <p class="info" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">Indique el nombre del usuario</p>
        </div>
    
        <!-- Fecha de nacimiento -->
    
        <div>
            <input placeholder="Fecha de nacimiento" type="date" id="birthDate" formControlName="birthDate">
            <p class="info" *ngIf="form.controls['birthDate'].invalid && form.controls['birthDate'].touched">Indique la fecha de nacimiento</p>
        </div>
    
        <!-- DNI -->
    
        <div>
            <input value="" placeholder="Dni" type="text" id="dni" formControlName="dni">
            <p class="info" *ngIf="fieldNoValid('dni')">Indique un dni válido</p>
        </div>
    
        <!-- Apellidos -->
    
            <div>
                <input placeholder="Apellidos" type="text" id="lastName" formControlName="lastName">
                <p class="info" *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">Indique los apellidos</p>
            </div>
    
        <!-- Telefono -->
    
            <div>
                <input placeholder="Teléfono" type="tel" id="telefone" formControlName="telefone">
                <p class="info" *ngIf="form.controls['telefone'].invalid && form.controls['telefone'].touched">Indique un teléfono de 9 dígitos</p>
            </div>
    
        <!-- Correo -->
    
        <div>
            <input placeholder="Email" type="email" id="email" formControlName="email">
            <p class="info" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Indique un correo válido</p>
        </div>
    
        <!-- Direccion -->
    
        <div>
            <input placeholder="Dirección" type="text" id="address" formControlName="address">
            <p class="info" *ngIf="form.controls['address'].invalid && form.controls['address'].touched">Indique una dirección</p>
        </div>
    
        <!-- Contraseña -->
    
        <div>
            <input placeholder="Contraseña" type="password" id="password" formControlName="password">
            <p class="info" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Mínimo 8 carácteres</p>
        </div>
    
        <!-- Rol -->
    
            <div>
                <select name="rol" id="rol"  formControlName="rol">
                    <option value="ROLE_STUDENT" [defaultSelected]="true">Estudiante</option>
                    <option value="ROLE_TEACHER">Profesor</option>
                    <option value="ROLE_ADMIN">Administrador</option>
                </select>   
            </div>
    
        <!-- Envío -->
    
        <input id="send" type="submit" value="Crear" [disabled]="form.invalid">
    </form>
</div>