<div id="container">
    <form (ngSubmit)="submit()" #restartPasword="ngForm" autocomplete="off">
        <p id="title">Resetear contraseña</p>

        <div id="box-restart">
            <input
            class="text"
            [(ngModel)]="model.password"
            name="password"
            id="password"
            minlength="8"
            placeholder="Contraseña"
            type="text"
            required
            #password="ngModel"
          />

          <img class="icon-input" src="assets/img/password-icon.png" alt="Su nueva contraseña" title="Su nueva contraseña">
          <img
            *ngIf="password.invalid && password.touched"
            class="err"
            title="La contraseña debe tener una longitud mínima de 8 carácteres"
            src="assets/img/err.png"
          />

          <input
            class="text"
            [(ngModel)]="model.passwordVerify"
            name="passwordVerify"
            id="passwordVerify"
            minlength="8"
            placeholder="Repita su contraseña"
            type="text"
            required
            #passwordVerify="ngModel"
        />


        <img id="verifypass" class="second-input icon-input" src="assets/img/password-icon.png" alt="Repita su contraseña" title="Repita su contraseña">
        <img
          *ngIf="((passwordVerify.value != password.value) && passwordVerify.touched)"
          class="second-input err"
          title="Las contraseñas no coinciden"
          src="assets/img/err.png"
        />
        </div>

        <input
        [disabled]="password.invalid || passwordVerify.invalid"
        id="submit"
        type="submit"
        value="Cambiar contraseña"
      />
    </form>
</div>