<div id="container-main">
    <div id="nav">
        <img *ngIf="!this.dashboardService.getDisableNav()"  id="menu" src="assets/img/menu.png">
        <p>{{ this.dashboardService.getTitle() }}</p>

        <div id="user-zone">
            <img src="{{ (!person.image || person.image == '') ? 'assets/img/not_image.png' : person.image  }}" title="{{ (person.name) ? person.name : 'Sin nombre' }} {{ (person.lastName) ? person.lastName : 'Sin apellidos ' }}">
        </div>
    </div>
    <div id="view">
        <div id="menu-zone" *ngIf="!this.dashboardService.getDisableNav()">
            <div *ngIf="rol == 'ROLE_ADMIN'">
                <div class="option" routerLink="administrator/centers/my-center" routerLinkActive="activated">
                    <img src="assets/img/">
                </div>
            </div>
            <div *ngIf="rol == 'ROLE_STUDENT'">
                
            </div>
            <div *ngIf="rol == 'ROLE_TEACHER'">
                
            </div>
            <div *ngIf="rol == 'ROLE_LABOR_TUTOR'">
                
            </div>
        </div>
        <div id="content">
            <div id="router">
                <router-outlet (notification)="showMessage($event)"></router-outlet>
            </div>
        </div>
    </div>
</div>