#container-main {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#nav {
    position: fixed;
    top: 0;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#router {
    overflow: hidden;
    height: calc(100vh - 50px);
}

#view {
    width: 100%;
    display: flex;
    position: relative;
    top: 50px;
}

#content {
    width: 100%;
    height: calc(100vh - 50px);
}

.option {
    width: 100%;
    height: 50px;
    
}

.activated {

}

.option-menu {
    width: 70%;
    display: flex;

}


#router-main {
    width: calc(100% - 55px);
}

#menu-zone {
    background-color: rgb(230, 230, 230);
    width: 55px;
    height: calc(100vh - 50px);
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
}

#user-zone {
    position: absolute;
    right: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#user-zone > img {
    height: 70%;
    border-radius: 50%;
} 

#menu {
    position: absolute;
    left: 17px;
    height: 25px;
}