<div *ngIf="person" id="fullContainer">
    <div>
        <nav>
            <h3>
                <i id="menuBurguer" (click)="menuToggle()" class="fa-solid fa-bars"></i>
                <p id="title">Dashboard</p>
            </h3>
            <img id="user" src="{{ (!person.image || person.image == '') ? '/assets/img/not_image.png' : person.image  }}" title="{{ (person.name) ? person.name : 'Sin nombre' }} {{ (person.lastName) ? person.lastName : 'Sin apellidos ' }}">
        </nav>    
        <div id="content">
            <div id="router">

            </div>
        </div>
    </div>
    
    <div id="menu" class="close">

        <h3>Centro</h3>
        <a class="activated">
            <i class="fa-solid fa-school"></i>
            Mi centro
        </a>
        <a>
            <i class="fa-solid fa-magnifying-glass"></i>
            Buscar centros
        </a>
        <h3>Personas</h3>
        <a>
            <i class="fa-solid fa-user-plus"></i>
            Registrar persona
        </a>
        <div *ngIf="rol == 'ROLE_ADMIN'">
            <a>Option</a>
            <a>Option</a>
            <a>Option</a>
            <a>Option</a>
            <a>Option</a>
        </div>
    </div>    
</div>
<app-loading *ngIf="!person"></app-loading>