<div id="mainDiv" *ngIf="this.currentDegree">
    <div id="title">
        <p><span class="degreesText" routerLink="../../degrees">Ciclos del centro > </span><span class="degreesText" routerLink="../">{{ this.currentDegree.name }}</span> > Profesores</p>
        <img src="assets/img/edit.png" id="canDeleteBusiness" (click)="editMode = !editMode" title="Modo edición" alt="Modo edición">
        
        
        <img (click)="selectTeacher = true" src="assets/img/add-icon.png" id="addButton" alt="Añadir nuevo profesor" title="Añadir nuevo profesor">


    </div>

    <p id="businessTitle">Profesores</p>

    <div id="maxWidthDiv">
        <div id="zone" *ngIf="this.currentDegree.teachers && this.currentDegree.teachers.length != 0">
            <div class="listOption" *ngFor="let teacher of this.currentDegree.teachers">
                <img src="{{ teacher.image }}">
                <p>{{ teacher.name }}</p>
                <p>{{ teacher.lastName }}</p>
                <img class="deleteOption" src="assets/img/delete.png" *ngIf="editMode" alt="Quitar" title="Quitar" (click)="quitTeacher(teacher.dni!)">
            </div>
        </div>

        <div *ngIf="this.currentDegree.teachers && this.currentDegree.teachers.length == 0" id="noStudentsDiv">
            <img src="assets/img/teacher.png">
            <p>No hay profesores asignados</p>
            <p>Comienze por asignar alguno ahora</p>
        </div>

    </div>

    <div id="modal-zone" *ngIf="selectTeacher" (click)="this.selectTeacher = false">
        <app-select-teacher *ngIf="selectTeacher" (dni)="addTeacher($event)" class="selectModal"></app-select-teacher>
    </div>
</div>