<div id="find" (click)="hiddenMenu()">
  <div *ngIf="schools" class="pageOption" id="schools">
    <div id="top-find">
      <div>
          <h3 *ngIf="setSchoolMode">¡Bienvenido!</h3>
          <h3 *ngIf="!setSchoolMode">Buscar centros</h3>
          <p *ngIf="setSchoolMode">Para comenzar, selecciona tu centro, introduce la contraseña de acceso y podrás gestionar el mismo</p>
          <p *ngIf="!setSchoolMode">Infórmate de los centros que usan Practises Management y obtén información sobre los mismos fácil y rápidamente</p>
      </div>
      <div id="search-div">
        <search></search>
      </div>
    </div>
    
    <div id="schoolsElements">
        <div
        (contextmenu)="updateMenuData($event)"
        *ngFor="let school of schools"
        class="school"
        id="{{ school.id }}">
        <img
          src="{{
            school.image != null ? school.image : 'assets/img/noImageCenter.jpg'
          }}"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4>
            <b>{{ school.name }}</b>
          </h4>
          <p>{{ school.address }}</p>
          <a *ngIf="setSchoolMode" (click)="setSchool($event)"> Administrar </a>
          <a *ngIf="!setSchoolMode" (click)="getInfo($event)"> Información </a>
        </div>
      </div>
    </div>

    <!-- <div>
      <h1 class="title" *ngIf="setSchoolMode && findEnable">Elija un centro</h1>
      <h1 class="title" *ngIf="!setSchoolMode && findEnable">
        Centros educativos
      </h1>
      <input
        *ngIf="findEnable"
        id="search"
        (keyup)="find($event)"
        autocomplete="off"
        placeholder="Buscar"
        type="text"
      />
      <br />
    </div>

    <div id="schoolsElements">
      <div
        (contextmenu)="updateMenuData($event)"
        *ngFor="let school of schools"
        class="school"
        id="{{ school.id }}"
      >
        <img
          src="{{
            school.image ? school.image : 'assets/img/noPhotoSchool.jpg'
          }}"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4>
            <b>{{ school.name }}</b>
          </h4>
          <p>{{ school.address }}</p>
          <a *ngIf="setSchoolMode" (click)="setSchool($event)"> Administrar </a>
          <a *ngIf="!setSchoolMode" (click)="getInfo($event)"> Información </a>
        </div>
      </div>
    </div>  -->
  </div>

  <!-- No centers found -->

  <div id="no-content" class="pageOption" *ngIf="!schools">
    <div id="annadir"><span>+</span> Añadir</div>
    <div id="text">
      <img src="assets/img/school.png" />
      <h3>No se han encontrado centros</h3>
      <p *ngIf="setSchoolMode">
        Puedes registrar tu centro pulsando en el botón de añadir
      </p>
    </div>
  </div>

  <!-- Menú clic derecho -->

  <div id="context-menu">
    <div class="item">
      <p>
        <i class="fa-solid fa-circle-info"></i>
        Información
      </p>
    </div>
    <div class="item" (click)="setSchool(idSchoolForMenu)">
      <p>
        <i class="fa-solid fa-bars-progress"></i>
        Administrar
      </p>
    </div>
  </div>
</div>

<div id="information" class="noShow">
  <div id="modal">
    <a id="close" (click)="changeVisiblityOfInfo()">
      <i class="fa-solid fa-xmark"></i>
    </a>
    <h3>
      <i class="fa-solid fa-circle-info"></i>
      Administradores
    </h3>
    <div id="admins">
      <p id="noAdmins" *ngIf="adminInfo && adminInfo.length == 0">
        Sin administradores
      </p>

      <div *ngFor="let administrator of adminInfo">
        <p class="name">
          <i class="fa-solid fa-user c-primary"></i>
          {{ administrator.name }}
          -
          <a href="tel:{{ administrator.telefone }}">{{
            administrator.telefone
          }}</a>
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
