<div id="container">
    <h1 class="title">Nueva empresa</h1>

    <form [formGroup]="form" (submit)="send()" id="msform">
         
        <!-- Nombre -->

        <h3>Datos de la empresa</h3>
    
        <div>
            <input placeholder="Nombre" type="text" id="name" formControlName="name">
            <p *ngIf="form.controls['name'].invalid && form.controls['name'].touched">Indique el nombre de la empresa</p>
        </div>
    
        <!-- Nombre -->
    
        <div>
            <input placeholder="Cif" type="text" id="cif" formControlName="cif">
            <p *ngIf="form.controls['cif'].invalid && form.controls['cif'].touched">Indique el cif de la empresa</p>
        </div>
    
        <!-- Número de estudiantes -->
    
        <div>
            <input type="number" value="0" min="0" id="numberOfStudents" formControlName="numberOfStudents">
            <p *ngIf="form.controls['cif'].invalid && form.controls['cif'].touched">Indique un número de estudiantes válido</p>
        </div>
    
        <!-- Envío -->
    
        <input type="submit" value="Crear" [disabled]="form.invalid">

    </form>

    

</div>