<!-- Si tenemos un centro asignado mostramos su información -->

    <div *ngIf="currentSchool">
        <h1 class="title">{{ currentSchool.name }}</h1>

        <div id="center">
            <img src="{{ (currentSchool.image)? currentSchool.image: '/assets/img/noPhotoSchool.jpg' }}">
            <p>Dirección: {{ currentSchool.address }}</p>
            <p>Identificador: {{ currentSchool.id }}</p>
        </div>
        
        <div>
            <h2>Administradores</h2>
            <div *ngFor="let administrator of currentSchool.administrators">
                <p>{{ administrator.name }}</p>
            </div>
        </div>
        <div>
            <h2>Ciclos</h2>
            <div *ngFor="let professionalDegree of currentSchool.professionalDegrees">
                <p>{{ professionalDegree.name }}</p>
            </div>
        </div>
    </div>

<!-- En caso de no tener centro asignado damos la posibilidad de asignarlo -->

    <app-find-centers *ngIf="!currentSchool" [setSchoolMode]="true" (emitSchool)="settedSchool($event)"></app-find-centers>