<div (window:scroll)="scroll()">

    <!-- Secciones-->

<div id="nav">
    <div id="menu" title="Menú" alt="Menú" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <img id="logo" src="assets/img/logo.png">
    <p id="titleT">Practises Management</p>

    <div id="actions" class="noShowMenu">
        <a alt="Acerca de" title="Acerca de">
            <i class="fa-solid fa-question"></i>
            Acerca de
        </a>
        <a alt="Opciones de accesibilidad" title="Opciones de accesibilidad">
            <i class="fa-solid fa-universal-access"></i>
            Opciones de accesibilidad
        </a>
        <a alt="Iniciar sesión" title="Iniciar sesión" routerLink="auth">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Iniciar sesión
        </a>

        <h3 id="menu-text">Menú</h3>

    </div>
</div>


<div id="welcome" class="section">
    <div id="text-welcome" class="horizontal">
        <div>
            <h1 class="shadow">Practises <span id="orange">Management</span></h1>
            <p class="subt shadow">Tu gestor de prácticas y de tu centro</p>
            <!-- <input id="go-button" class="selected" type="button" value="Let's go" routerLink="../auth/"> -->
        </div>
    </div>

    <div class="horizontal">
        <div class="container">
            <div id="cube">
                <figure class="back"></figure>
                <figure class="left"></figure>
                <figure class="bottom"></figure>    
                <figure class="front"></figure>
                <figure class="right"></figure>
                <figure class="top"></figure>
            </div>
        </div>
    </div>
</div>

<div id="center-section" class="section">
    <div>
        <div>
            <h1>¿Qué es Practises Management?</h1>
        </div> 
        <h3 class="text-h3"><strong>Practises Management</strong> es una aplicación disponible para PC, Android e IOS que te permite gestionar tu centro y las prácticas relacionadas con los ciclos de Formación Profesional.</h3>
    </div>
    <img id="dashboard-img" class="max-width" src="assets/img/dashboard.png">
</div>

<div id="security-section" class="section">
    <p class="aditional-text">* Sólo disponible para administradores</p>
</div>
<div id="rol-section" class="section">

</div>

<div id="functions-section" class="section">

    <div>
        <div>
            <h1>Funciones</h1>
        </div>
    
        <h3><strong>Practises Management</strong> es una aplicación disponible para PC, Android e IOS que te permite gestionar tu centro y las prácticas relacionadas con los ciclos de Formación Profesional</h3>
    
    </div>
    <ul id="text-info">
        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ejemplo
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, beatae pariatur perspiciatis rem alias sed rerum neque quos laboriosam.</p>
        </li>
        
        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ejemplo
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, beatae pariatur perspiciatis rem alias sed rerum neque quos laboriosam.</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ejemplo
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, beatae pariatur perspiciatis rem alias sed rerum neque quos laboriosam.</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ejemplo
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, beatae pariatur perspiciatis rem alias sed rerum neque quos laboriosam.</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ejemplo
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, saepe inventore error aspernatur expedita quia possimus accusantium consequuntur commodi qui beatae pariatur perspiciatis rem alias sed rerum neque quos laboriosam.</p>
        </li>
    </ul>
    <p class="aditional-text">* Sólo disponible para administradores</p>
</div>

<!-- Fin de secciones -->

<footer>
    <a  href="http://jigsaw.w3.org/css-validator/check/referer">
        <img id="cssV" style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="¡CSS Válido!" />
        </a>
</footer>
</div>
