.section {
    min-height: 100vh;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.scale-animated {
  transform: perspective(10px) translateZ(1px); 
}

.invert {
  filter: invert(0) !important;
}

#nav {
    transition: 0.5s;
    position: fixed;
    perspective: 1000px;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 80px;
}

#logo {
  width: 2em;
  position: fixed;
  top: 32.2%;
  left: 3%;
  transition: 0.5s;
}

#menu {
  display: none;
}

.horizontal {
    width: 50% !important;
}

#welcome *, #nav a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
}

#welcome {
    display: flex;
    background-image: url(/assets/img/background-welcome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-shadow: 2px 2px 10px black;
    align-items: center;
    z-index: 1;
    box-shadow: 0px -1px 20px 0px black;

}

.shadow {
  text-shadow: 1px 1px 3px black;
}

#text-welcome > div > h1 {
    color: white;
    margin-bottom: 2%;
}

#text-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width {
  max-width: 1500px;
}

#text-welcome > div > p {
    margin-bottom: 2%;
}

#text-welcome > div > p {
    color: white;
}

#go-button {
    font-size: 1em;
    width: 150px;
    background-color: orange;
    border: none;
    height: 40px;
    margin-top: 5px;
    transition: 1s;
}

#go-button:hover {
    background-color: rgb(255, 181, 43);
}

#welcome > div > #text-welcome {
    align-content: center;
    gap: 5%;
    left: 10%;
    display: grid;
    align-items: center;
    z-index: 20;
}

#center-section, #functions-section {
    text-align: center;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

#security-section, #functions-section {
    color: white;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(61, 61, 61));
}

.section-white {
  background-color: #ffffff8c !important;
}

.section-white a {
  text-shadow: none !important;
  color: black !important;
}

.section-white #logo, .section-white #menu {
  filter: invert();
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(75, 75, 75);
    box-shadow: -2px -2px 10px black;
    z-index: 10;
}

.aditional-text {
    position: absolute;
    bottom: 20px;
    left: 4%;
    color: grey;
}

.subt {
    color: rgba(255, 255, 255, 0.89) !important;
}

#city {
    position: absolute;
    bottom: 0;
    right: 0;
}

#actions {
    transition: 1s;
    animation-name: in;
    animation-duration: 0.4s;
    color: white;
    position: absolute;
    top: 9px;
    padding: 20px;
    right: 10px;
}

.noVisibility {
  opacity: 0;
  transform: translateY(-202px) rotateX(-60deg);
}

#menu-text {
  display: none;
}

@keyframes in {
  from {
    opacity: 0;
    transform: rotateX(308deg) translateY(-202px);
  }
  to {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

#actions a {
    margin: 5px;
}


/* Cube 3D */

#cube figure {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}


#cube {
    width: 90%;
    height: 90%;
    animation-name: cube;
    animation-delay: 500ms;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.container {
  width: 230px;
  height: 230px;
  margin: 50px auto;
  position: relative;
}

#cube .bottom {
  background: radial-gradient(rgba(202, 202, 202, 0.795) , rgba(189, 189, 189, 0.453) , transparent, transparent);
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

  @keyframes wave {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }

  .container {
    perspective: 400px;
  }

  #cube {
    transform-style: preserve-3d;
 }
 
 #cube .back {
    transform: rotateX(0deg);
  }
  #cube .left {
    transform: rotateY(60deg);
  }
  #cube .bottom {
    transform: rotateX(60deg);
  }

  #cube .back {
    transform: rotateX(0deg) translateZ(-105px);
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/assets/img/business.png);
    
    background-position: center center;

 }
 #cube .left {
   transform: rotateY(90deg) translateZ(-105px);
   background-size: 90%;
   background-repeat: no-repeat;
   width: 100%;
   background-image: url(/assets/img/school.png);
   background-position: center center;
 }
 #cube .bottom {
   transform: rotateX(90deg) translateZ(-105px);
 }



 #cube .front {
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/assets/img/students.png);
    background-position: center center;
    transform: rotateX(0deg) translateZ(105px);
  }
  #cube .right {
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/assets/img/connect.png);
    
    background-position: center center;
    transform: rotateY(90deg) translateZ(105px);
  }
  #cube .top {
    transform: rotateX(90deg) translateZ(105px);
  }


  #dashboard-img {
    box-shadow: 0px 7px 10px rgb(126, 126, 126);
    width: 70%;
  }

  #orange {
    color: orange;
  }

  #actions i {
    margin-right: 5px;
    color: orange;
  }

  a {
    color: white !important;
  }

  @media (max-width: 650px) {
      #actions a::after {
        background: linear-gradient(to right, transparent, rgb(0 0 0 / 95%), black);
        padding: 2px;
        z-index: -1;
        position: absolute;
        right: 0%;
        width: 100px;
        height: 100%;
        content: '';
      }

      #dashboard-img {
        width: 90% !important;
      }

      .text-h3 {
        text-align: justify;
        color: black !important;
        font-weight: 200 !important;
        padding-left: 7%;
        padding-right: 7%;
      }

      #menu:hover > .line:nth-child(1) {
        transform: translateX(10px);
      }

      #menu:hover > .line:nth-child(2) {
        animation-name: loop;
        animation-duration: 1s;
        transition: 5s;
        animation-iteration-count: infinite;
      }

      @keyframes loop {
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(90deg);
        }        
        100% {
          transform: rotateY(0deg);
        }
      }

      #menu:hover > .line:nth-child(3) {
        transform: translateX(-10px);
      }
      
      .cross > .line:nth-child(1) {
        transform: translate3d(0px, 8px, 10px) rotate(-45deg);
      }

      .cross > .line:nth-child(2) {
        transform: rotateY(90deg);
      }

      .cross > .line:nth-child(3) {
        transform: translate3d(0px, -8px, 10px) rotate(45deg);
      }

      .cross:hover > .line:nth-child(1) {
        transform: translate3d(0px, 8px, 10px) rotate(45deg) !important;
      }

      .cross:hover > .line:nth-child(2) {
        display: none !important;
      }

      .cross:hover > .line:nth-child(3) {
        transform: translate3d(0px, -8px, 10px) rotate(132deg) !important;
      }

      #menu-text {
        display: initial;
        position: absolute;
        left: 13.5%;
        top: 25%;
        font-size: 1.6em;
      }

      .line {
        width: 100%;
        transition: 0.5s;
        height: 2px;
        position: relative;
        background-color: white;
      }

      #menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        position: absolute;
        top: 27.3%;
        z-index: 20;
        right: 5%;
      }

      #actions {
        backdrop-filter: blur(20px);
        height: 100%;
        position: fixed;
        height: 100vh;
        top: 0;
        transition: 0.5s;
        right: 0;
        background-color: rgb(0 0 0 / 95%);
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        align-items: flex-end;
        gap: 0px;
        justify-content: center;
      }

      #actions > a {
        color: white !important;

        text-align: start;
        position: relative;
        letter-spacing: 1px;
        transition: 0.5s;
        padding: 3% 4%;
        width: 100%;
        left: 7%;
        transition: 1.00s;
      }

      #actions > a > i {
        position: absolute;
        right: 12%;
      }

      #actions > a:hover {
        transform: scale(110%);
        box-shadow: 660px 1px orange;
      }
    

      #logo {
        width: 30px;
        display: inline-block;
        position: absolute;
        top: 22.5%;
        left: 5%;
      }

      #menu, #logo {
        margin-top: 5px;
      }

      #nav {
        text-align: center;
        height: 70px;
      }

      #actions {
        position: relative;
      }

      #welcome {
        flex-direction: column-reverse;
      }

      #text-welcome {
          text-align: center;
          width: 100% !important;
      }

      #cube {
        transform: translateX(9px);
      }

      #welcome > div {
          width: 100% !important;
      }
      h1 {
          font-size: 1.3em !important;
          font-weight: 400;
      }

      #text-welcome > div {
          width: 90% !important;
      }

      #text-info {
        width: 90%;
        text-align: left;
        max-width: 530px;
      }
  }

  @media (min-width:650px) and (max-width: 900px) {
    #text-welcome > div {
        margin-left: 10%;
    }
  }

  .noShowMenu {
    display: none !important;
  }


  @media (min-width:650px) {
    .noShowMenu {
      display: initial !important;
    }
  }

  h1 {
    font-size: 2.2em !important;
  }

  #text-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1110px;
      margin: auto;
      padding-left: 0;
      padding-bottom: 70px !important;
      outline: none;
  }

  #text-info li {
    margin: auto;
    list-style: none;
    line-height: 1.8;
    padding: 20px 20px 0;
    text-align: left;
    width: 370px;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
  }

  li i {
      color: #367BF0;
  }

  li h3 {
      font-weight: 100;
  }

  li p {
      margin-left: 10%;
      margin-right: 10%;
      color: rgb(162, 162, 162);
  }



  #center-section > div, #functions-section > div {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #center-section > div h3 , #functions-section > div h3 {
        display: block;
        max-width: 800px;
        font-weight: 100;
  }

  .section h1 {
      margin-top: 40px;
      margin-bottom: 30px;
  }

  .section > div > h3 {
      margin-bottom: 50px;
  }

  @keyframes cube {
      0% {
          transform: rotateY(0deg);
      }
      100% {
          transform: rotateY(360deg);
      }
  }

  #cube {
      margin-left: 10px;
  }


.blur {
  backdrop-filter: blur(10px)  !important;
}

