<div id="container">

    <!-- Welcome -->

    <div id="welcome">

    </div>

    <div id="title">
        <img src="/assets/img/logo.png">
        <h1 class="typed">Practises Management</h1>
        <a routerLink="../auth">Login</a>
    </div>

    <!-- Section 1 -->

    <!--
    <div class="section">
        <img src="/assets/img/management.png" class="img">
        <div>
            <h2>Administra</h2>
            <p>Practises management permite a los docentes gestionar a los alumnos en su temporada de prácticas</p>
        </div>
    </div>

    <div class="section">
        <img src="/assets/img/management.png" class="img">
        <div>
            <h2>Gestiona los alumnos</h2>
            <p>Obtén de un vistazo aquellos alumnos con empresas asignadas</p>
        </div>
    </div>

    -->

</div>