<div (window:scroll)="scroll()">

    <!-- Secciones-->

<div id="nav">
    <div id="menu" title="Menú" alt="Menú" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <img id="logo" src="assets/img/logo.png">
    <p id="titleT">Practises Management</p>

    <div id="actions" class="noShowMenu">
        <a (click)="accesibility = true" alt="Opciones de accesibilidad" title="Opciones de accesibilidad">
            <i class="fa-solid fa-universal-access"></i>
            Opciones de accesibilidad
        </a>
        <a alt="Iniciar sesión" title="Iniciar sesión" routerLink="auth">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Iniciar sesión
        </a>

        <h3 id="menu-text">Menú</h3>

    </div>
</div>


<div id="welcome" class="section">
    <div id="text-welcome" class="horizontal">
        <div>
            <h1 class="shadow">Practises <span id="orange">Management</span></h1>
            <p class="subt shadow">Tu gestor de prácticas y de tu centro</p>
            <!-- <input id="go-button" class="selected" type="button" value="Let's go" routerLink="../auth/"> -->
        </div>
    </div>

    <div class="horizontal">
        <div class="container">
            <div id="cube">
                <figure class="back"></figure>
                <figure class="left"></figure>
                <figure class="bottom"></figure>    
                <figure class="front"></figure>
                <figure class="right"></figure>
                <figure class="top"></figure>
            </div>
        </div>
    </div>
</div>

<div id="center-section" class="section">
    <div>
        <div>
            <h1>¿Qué es Practises Management?</h1>
        </div> 
        <h3 class="text-h3"><strong>Practises Management</strong> es una aplicación que te permite gestionar tu centro y las prácticas relacionadas con los ciclos de Formación Profesional.</h3>
    </div>
    <img id="dashboard-img" class="max-width" src="assets/img/dashboard.png">
</div>
<div id="functions-section" class="section">

    <div>
        <div>
            <h1>Funciones</h1>
        </div>
    
        <h3><strong>Practises Management</strong> te permite ...</h3>
    
    </div>
    <ul id="text-info">
        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ver movimientos inusales
            </h3>
            <p>Vea todos los movimientos fuera de los horarios del centro</p>
        </li>
        
        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Administrar personas
            </h3>
            <p>Gestione todos los usuarios y deshabilite aquellos que no desea que inicien sesión</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Empresas
            </h3>
            <p>Gestiones todas las empresas disponibles, editelas, cambie su ubicación</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Ir hasta el destino
            </h3>
            <p>Dirígese hasta el destino conociendo la ruta más optima hasta el destino</p>
        </li>

        <li>
            <h3>
                <i class="fa-solid fa-arrow-right-to-city"></i>
                Prácticas
            </h3>
            <p>Cree prácticas, establezca el tutor laboral deseado, tutor de prácticas, empresa ...</p>
        </li>
    </ul>
    <p class="aditional-text">* Sólo disponible para administradores</p>
</div>

<!-- Fin de secciones -->

<footer>
    <p>Practises Management 2022</p>
    <a  href="http://jigsaw.w3.org/css-validator/check/referer">
        <img id="cssV" style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="¡CSS Válido!" />
    </a>
    <p>Correo de registro: txaxati2018@gmail.com</p>
</footer>
</div>


<div id="acccesibility" *ngIf="accesibility">
    <app-accesibility (closeKey)="this.accesibility = false"></app-accesibility>
</div>
