<div id="mainDiv" class="inNewIntro">
    <div id="title">
        <p><span class="degreesText" (click)="back()">Personas > </span>{{ this.currentPerson.name }} {{ this.currentPerson.lastName}}</p>
        <!-- <img src="assets/img/edit.png" id="canDeleteBusiness" (click)="editMode = !editMode" title="Modo edición" alt="Modo edición"> -->
        <!-- <img (click)="selectTeacher = true" src="assets/img/add-icon.png" id="addButton" alt="Añadir nuevo profesor" title="Añadir nuevo profesor"> -->
    </div>
    <div id="content">
        <div>
            <div id="image">
                <app-file-upload (fileName)="setNewImage($event)" id="imageUpload"></app-file-upload>
                <img src="{{ this.currentPerson.image }}">
            </div>
        </div>
        <div>
            <form *ngIf="this.formGroup" [formGroup]="formGroup">

                <p id="titleData">Datos del usuario</p>

                <div id="formContainer">
                    <div>
                        <label>Nombre</label>
                        <input name="name"
                              formControlName="name"
                              type="text"/>
                              <img *ngIf="this.formGroup.get('name')!.touched && this.formGroup.get('name')?.errors" class="warning" src="assets/img/warning.png" title="Nombre es requerido">
                  
                        <label>Apellidos</label>
                        <input name="lastName"
                              formControlName="lastName"
                              type="text"/>
                              <img class="warning" src="assets/img/warning.png" *ngIf="this.formGroup.get('lastName')!.touched && this.formGroup.get('lastName')?.errors" title="Apellidos requeridos">
                  
                        <label for="birthDate">Nacimiento</label>
                        <input name="birthDate"
                              formControlName="birthDate"
                              type="date" max="{{ date | date: 'yyyy-MM-dd' }}"/>
                              <img class="warning" src="assets/img/warning.png" *ngIf="this.formGroup.get('birthDate')!.touched && this.formGroup.get('birthDate')?.errors" title="La fecha de nacimiento es requerido">
                  
                        <label for="address">Dirección</label>
                        <input name="address"
                              formControlName="address"
                              type="text"/>
                              <img class="warning" src="assets/img/warning.png" *ngIf="this.formGroup.get('address')!.touched && this.formGroup.get('address')?.errors" title="La dirección es requerida">    
                    </div>
                    <div>
                        <label for="telefone">Teléfono</label>
                        <input name="telefone"
                              formControlName="telefone"
                              type="tel"/>
                              <img class="warning" src="assets/img/warning.png" *ngIf="this.formGroup.get('telefone')!.touched && this.formGroup.get('telefone')?.errors" title="El teléfono es requerido">
                  
                        <label for="email">Correo</label>
                        <input name="email"
                              formControlName="email"
                              type="email"/> 
                              <img class="warning" src="assets/img/warning.png"  *ngIf="this.formGroup.get('email')!.touched && this.formGroup.get('email')?.errors" title="El correo es requerido">
                    </div>
                </div>
              </form>
            <button id="save" (click)="save()">Guardar</button>
            <button id="save2" (click)="changePassword()">Cambiar Contraseña</button>
        </div>
        
    </div>
</div>