#mainContainerEditBusiness {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}


#image {
    width: 100%;
    height: 133px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image > img {
    width: 100%;
    min-width: 350px;
}


#fileUpload {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 133px;
}


#contentEditBusiness {  
    width: 100%;   
    position: relative;
}


#contentEditBusiness > p:nth-child(1) {
    display: inline-block;
    font-size: 20px;
    margin-top: 31px;
    margin-left: 37px;
}


.editIcon {
    width: 16px;
}


@media (max-width: 600px) {
    #contentEditBusiness > p:nth-child(1) {
        display: block;
    }
}


#contentEditBusiness > p:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 20px;
    margin-top: 14px;
    margin-right: 10px;
}


#mapContainerBusiness {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


#mapContainerBusiness > #map {
    width: 90%;
    height: 100%;
}


#saveLocation, #addTutor {
    background-color: var(--color);
    height: 35px;
    color: white;
    border: none;
    width: 150px;
    margin-left: 40px;
    margin-top: 40px;
}




#modal-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.446);
    justify-content: center;
    align-items: center;
    top: 0;
}


#modal-zone > * {
    height: 461px;
    background-color: white;
    max-width: 400px;
    width: 90%;
    transition: 1s;
    animation-name: introSlow;
    animation-duration: 0.2s;
}