<div id="mainContainerEditBusiness" *ngIf="this.business" class="inNewIntro">
    <div id="image">
        <div id="ddarkZone"></div>
        <p id="titleBusiness">{{ this.business.name }}</p>
        <img src="{{ this.business.image }}">
        <app-file-upload *ngIf="isAdmin" (fileName)="changeImage($event)" id="fileUpload"></app-file-upload>
    </div>
    <div id="contentEditBusiness">
        <p>{{ this.business.name }} <img *ngIf="isAdmin" class="editIcon" (click)="editName()" src="assets/img/edit.png"> </p>
        <p>Pueden matricularse este año {{ this.business.numberOfStudents }} estudiantes <img class="editIcon" *ngIf="isAdmin" (click)="editNumberOfStudents()" src="assets/img/edit.png"></p>

        <div id="mapContainerBusiness">
            <div id="map">

            </div>
        </div>
        <button id="saveLocation" (click)="updateLocation()" *ngIf="showSaveUbication && isAdmin">Guardar localización</button>
        <button *ngIf="isAdmin" id="addTutor" (click)="this.selectTutor = true">Añadir tutor</button>
    </div>
    <div id="modal-zone" *ngIf="selectTutor" (click)="closeAll()">
        <app-select-tutor-whitoutBusiness *ngIf="selectTutor" (dni)="addTutor($event)" class="selectModal"></app-select-tutor-whitoutBusiness>
    </div>
</div>