<div *ngIf="!mapMode" id="searchDivMain">
  <div id="bienvenida">
    <div id="text">
      <p>Empresas</p>
      <p>
        Vea las empresas registradas en la plataforma e obtenga información sobre su localización, trabajadores de contacto y más
      </p>

    </div>
    <div id="searchDiv">
      <search (query)="buscar($event)"></search>
    </div>
  </div>

  <div>
    <div *ngIf="locations.length != 0" id="schools">
      <div *ngFor="let currentBusiness of locations" class="school">
        <img src="{{ currentBusiness.image }}" />
        <p>{{ currentBusiness.name }}</p>
        <p>{{ currentBusiness.cif }}</p>
        <img  src="assets/img/location.png" routerLink="../ubication/{{ currentBusiness.latitude }}/{{ currentBusiness.longitude }}">
        <img  class="leftIcon" src="assets/img/call.png">
        <img class="rightIcon" src="assets/img/curso.png">

      </div>
    </div>
    <div *ngIf="locations.length == 0" id="no-centers">
      <img src="assets/img/business.png" />
      <p>Ninguna empresa coincide con la búsqueda</p>
    </div>
  </div>

  <app-map-button (mapMode)="showMap()"></app-map-button>
</div>


<div *ngIf="mapMode" id="searchDivMain" class="mapView">
    <img id="back" (click)="showListOfSchool()" src="assets/img/back-map.png">
    <div id="bienvenida">
      <div id="text">
        <p>Seleccionar en mapa</p>
        <p>
            Seleccione su centro conociendo la ubicación en la que se encuentra el mismo, por defecto se mostrará la ubicación actual del dispositivo
        </p>
      </div>
      <div id="searchDiv">
        
      </div>
    </div>
  
    <div id="map">
        <div id="mapCenters">
      
        </div>
    </div>
  

</div>
