<div *ngIf="!mapMode" id="searchDivMain">
  <div id="bienvenida">
    <div id="text">
      <p *ngIf="setMode">¡Bienvenido!</p>
      <p *ngIf="setMode">
        Para comenzar, selecciona tu centro, introduce tu contraseña de acceso y
        podrás gestionar el mismo. También puedes <span routerLink="../new-center" class="bold">Añadir un nuevo centro</span>
      </p>

      <p *ngIf="!setMode" >Centros</p>
      <p *ngIf="!setMode">
        Vea los centros registrados en la plataforma e obtenga información sobre su localización, trabajadores de contacto y ciclos
      </p>

    </div>
    <div id="searchDiv">
      <search (query)="buscar($event)"></search>
    </div>
  </div>

  <div>
    <div *ngIf="centers.length != 0" id="schools">
      <div *ngFor="let school of centers" class="school">
        <img src="{{ school.image }}" />
        <p>{{ school.name }}</p>
        <p>{{ school.address }}</p>
        <img *ngIf="!setMode" src="assets/img/location.png">
        <img *ngIf="!setMode" class="leftIcon" src="assets/img/call.png">
        <img *ngIf="!setMode" class="rightIcon" src="assets/img/curso.png">

        <img *ngIf="setMode"  (click)="configureSchool(school.id!)" src="assets/img/engine.png"/>
      </div>
    </div>
    <div *ngIf="centers.length == 0" id="no-centers">
      <img src="assets/img/school.png" />
      <p>Ningún centro coincide con la búsqueda</p>
    </div>
  </div>

  <app-map-button (mapMode)="showMap()"></app-map-button>
</div>


<div *ngIf="mapMode" id="searchDivMain" class="mapView">
    <img id="back" (click)="showListOfSchool()" src="assets/img/back-map.png">
    <div id="bienvenida">
      <div id="text">
        <p>Seleccionar en mapa</p>
        <p>
            Seleccione su centro conociendo la ubicación en la que se encuentra el mismo, por defecto se mostrará la ubicación actual del dispositivo
        </p>
      </div>
      <div id="searchDiv">
        
      </div>
    </div>
  
    <div id="map">
        <div id="mapCenters">
      
        </div>
    </div>
  

</div>
