<div *ngIf="!mapMode" id="searchDivMain" class="inNewIntro inNewIntro">
  <div id="bienvenida">
    <div id="text">
      <p>Empresas</p>
      <p>
        Vea las empresas registradas en la plataforma e obtenga información sobre su localización, trabajadores de contacto y más. <span *ngIf="this.isAdmin" class="bold" routerLink="../new-business">O bien cree una nueva empresa</span>
      </p>

    </div>
    <div id="searchDiv">
      <search (query)="buscar($event)"></search>
    </div>
  </div>

  <div>
    <div *ngIf="locationsAndBusiness.length != 0" id="schools">
      <div *ngFor="let currentBusiness of locationsAndBusiness" class="school">
        <img src="{{ currentBusiness.image }}"/>
        <p>{{ currentBusiness.name }}</p>
        <p>{{ currentBusiness.cif }}</p>
        <img  src="assets/img/location.png" title="Ver ubicación" alt="Ver ubicación" routerLink="../ubication/{{ currentBusiness.latitude }}/{{ currentBusiness.longitude }}" title="Ver ubicación" alt="Ver ubicación">
        <img class="leftIcon" src="assets/img/call.png" (click)="getTelefoneTutors(currentBusiness.cif)" title="Contacto" alt="Contacto" title="Obtener números de contacto" alt="Obtener números de contacto">
        <img class="rightIcon" src="assets/img/{{ (isAdmin)? 'edit.png': 'view.png' }}" title="{{ (isAdmin)? 'Editar':'Ver' }}" alt="{{ (isAdmin)? 'Editar':'Ver' }}" routerLink="edit/{{ currentBusiness.cif }}">

      </div>
    </div>
    <div *ngIf="locationsAndBusiness.length == 0" id="no-centers">
      <img src="assets/img/business.png" />
      <p>Ninguna empresa coincide con la búsqueda</p>
    </div>
  </div>

  <app-map-button (mapMode)="showMap()"></app-map-button>
</div>


<div *ngIf="mapMode" id="searchDivMain" class="mapView inNewIntroMap">
    <img id="back" (click)="showListOfSchool()" src="assets/img/back-map.png">
    <div id="bienvenida">
      <div id="text">
        <p>Ver en mapa</p>
        <p>
            Vea las empresas disponibles conociendo la ubicación en la que se encuentra el mismo, por defecto se mostrará la ubicación actual del dispositivo
        </p>
      </div>
      <div id="searchDiv">
        
      </div>
    </div>
  
    <div id="map">
        <div id="mapCenters">
          
        </div>
    </div>
</div>
