* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}


/* Colores */

:root {
    --primary: white;
    --secundary: rgb(225, 225, 225);
    --text: rgb(192, 192, 192);
    --color: rgb(255, 0, 76);
    --colorHover: rgb(95, 104, 185);
}


html {
    animation-name: clear;
    transition: 1s;
    animation-duration: 1s;
    background: url(/assets/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 100%;
}

@keyframes clear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

.swal2-styled {
    background-color: var(--color)!important;
}

.swal2-backdrop-show {
    background-color: none !important;
    backdrop-filter: blur(20px);
}

.swal2-popup {
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
    border: 1px solid #ffffff43 !important;
    color: white !important;
    background-color: rgba(255, 255, 255, 0.104) !important;
}

.swal2-icon.swal2-error {
    color: red !important;
}

.swal2-x-mark-line-left, .swal2-x-mark-line-right {
    background-color: white !important;
}

.swal2-icon.swal2-error {
    border-color: var(--color) !important;
}

.swal2-x-mark {
    animation-name: animated !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
}

@keyframes animated {
    0% {
        transform: rotate3d(1, 1, 1, 360deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
}

.invisible {
    transition: 1s;
    opacity: 0;
}

.grayScale {
    filter: grayscale(1);
}


.c-primary {
    color: var(--color);
}