@import "simple-keyboard/build/css/index.css";

/* ============================================ Estilos generales ============================================  */

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  text-size-adjust: none;
}


html, body {
  height: 100% !important;
}

/* .pageOption {
  height: calc(100vh - 50px);
} */

.hg-button-numeric,
.hg-button-default {
  max-width: 20%;
}

.hg-button-close {
  max-width: 10%;
  font-weight: bolder;
}


.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background-color: #585858e3 !important;
}

#keyboard-div {
  background-color: #ececec;
  align-items: center;
  top: 392px;
  display: inline-block;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  box-shadow: 1px 1px 10px grey;
}

.hg-button-move {
  max-width: 10%;
  opacity: 0;
}

.simple-keyboard {
  margin-top: 20px;
  z-index: 300;
  max-width: 600px;
  animation-name: toUP;
  animation-duration: 0.75s;
}

@media (min-width: 614px) {
  #keyboard-div {
    max-width: 500px;
    width: 100%;
  }

  @keyframes toUP {
    0% {
      transform: rotateX(45deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  @keyframes toDOWN {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    100% {
      transform: rotateX(45deg);
      opacity: 0;
    }
  }
}



@media (max-width: 614px) {
  #keyboard-div {
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    display: block;
    width: 100%;
  }

  .hg-button {
    height: 50px !important;
  }

  .simple-keyboard {
    margin-top: 0 !important;
  }

  @keyframes toUP {
    0% {
      position: fixed;
      bottom: -185px;
    }
    100% {
      position: fixed;
      bottom: 0px;
    }
  }

  @keyframes toDOWN {
    0% {
      position: fixed;
      bottom: 0px;
    }
    100% {
      position: fixed;
      bottom: -185px;
    }
  }
}

.toDOWN {
  animation-name: toDOWN;
  animation-duration: 0.750s;
}

/* Colores */

:root {
  --primary: white;
  --secundary: rgb(225, 225, 225);
  --text: rgb(192, 192, 192);
  --color: rgb(255, 94, 0);
  --colorHover: rgb(95, 104, 185);
}

/* Página  */

html {
  animation-name: clear;
  transition: 1s;
  animation-duration: 1s;
}

/* Modales */

#swal2-title {
  font-size: 1.4em !important;
  font-variant: small-caps;
}

@keyframes clear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.swal2-styled {
  background-color: var(--color) !important;
}

.swal2-backdrop-show {
  background-color: none !important;
  backdrop-filter: blur(20px);
}

.swal2-popup {
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
  border: 1px solid #ffffff43 !important;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.104) !important;
}

.swal2-icon.swal2-error {
  color: red !important;
}

.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
  background-color: white !important;
}

.swal2-icon.swal2-error {
  border-color: var(--color) !important;
}

.swal2-x-mark {
  animation-name: animated !important;
  animation-duration: 2s !important;
  animation-iteration-count: infinite !important;
}

@keyframes animated {
  0% {
    transform: rotate3d(1, 1, 1, 360deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}

/* Otros estilos */

.invisible {
  transition: 1s;
  opacity: 0;
}

/* Accesbilidad */

.grayScale {
  filter: grayscale(1);
}

.c-primary {
  color: var(--color);
}

/*  Toast  */

/* Posición */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: black;
  border-left: 4px solid black;
  border-radius: 5px;
  background-color: white;
}

.toast-title, .toast-message {
  z-index: 20;
}

/* .ng-star-inserted {
  animation-name: downNotify;
  animation-duration: 1s;
  transition: 1s;
} */

@keyframes downNotify {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #808080;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {  
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  border-color: green !important;
}

.toast-success .toast-progress  {
  background-color: rgb(201, 255, 196);
}

.toast-error {
  border-color: red !important;
}


.toast-error .toast-progress  {
  background-color: rgb(255, 196, 196);
}


.toast-info {
  border-color: rgb(87, 87, 255) !important;
}

.toast-info .toast-progress  {
  background-color: rgb(196, 197, 255);
}

.toast-warning {
  border-color: orange !important;
}

.toast-warning .toast-progress  {
  background-color: rgb(255, 231, 185);
}



.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
}

#swal2-validation-message {
  background-color: transparent;
  color: white;
}

/* Responsive Design */

@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.title {
  color: white;
  font-variant: small-caps;
  padding: 1em;
  text-align: center;
}

.swal2-success-circular-line-left,
.swal2-success-fix,
.swal2-success-circular-line-right {
  visibility: hidden !important;
}

.notShow {
  opacity: 0;
  z-index: -2;
}


.mapboxgl-ctrl-geocoder {
  position: fixed !important;
  width: 225px;
  margin-right: 5% !important;
  height: 39px;
  top: 99px;
  right: 0;
}

.mapboxgl-ctrl-geocoder input {
  border: none;
  background-color: rgb(240, 240, 240);
  height: 39px;
  width: 100%;
  max-width: 230px;
  border-radius: 7px;
  padding-left: 50px;
}

.mapboxgl-ctrl-geocoder--icon {
  position: absolute;
  transform: scale(1.5);
  top: 10px;
  opacity: 0.5;
  left: 15px;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}


.suggestions {
  list-style: none;
  background-color: white;
  box-shadow: 0px 2px 5px #b3b3b3;
}

.mapboxgl-ctrl-geocoder--powered-by {
  display: none !important;
}

.suggestions li {
  padding-left: 20px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 5px;
  padding-top: 5px;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: 600;
}


.mapboxgl-popup-close-button { 
  right: 5px !important;
}

.mapboxgl-popup-close-button:hover {
  background-color: transparent !important;
}


.enginemap {
  width: 17px;
  display: block;
  margin-top: 5px;
  justify-content: center;
}


@media (max-width: 600px) {
  .mapboxgl-ctrl-geocoder {
    top: 220px;
    left: 30px !important;
  }
}

.bold {
  font-weight: 600;
  color: var(--color);
}

.bold:hover {
  text-decoration-line: underline;
}

.background-color {
  background-color: var(--color);
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}


.mapboxgl-popup-content {
  padding: 20px;
}

.neg {
  font-weight: 600;
}

#steps {
  margin-bottom: 3px;
}

#creating-text {
  margin-left: -30px;
}

.enginepop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swal2-cancel {
  background-color: rgb(255, 43, 43) !important;
}


app-menu {
  z-index: 20;
}



#acccesibility {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#acccesibility > * {
  width: 90%;
  max-width: 500px;
  height: 300px;
  overflow: auto;
}


.inNewIntro {
  animation-name: inNewIntro;
  animation-duration: 0.5s;
}


@keyframes inNewIntro {
  0% {
    transform: translateY(54px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



.inNewIntroMap {
  animation-name: inNewIntroMapani;
  animation-duration: 0.37s;
}


@keyframes inNewIntroMapani {
  0% {
    transform: translateX(54px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


.noAnimations * {
  animation-name: unset !important;
  animation-duration: 0s !important;
}